




<div class='masthead'>
  <nav class='language-nav'>
    <ul>
      <li>
        <a href="">CSS</a>
      </li>
      <li>
        <a href="">HTML</a>
      </li>
      <li>
        <a href="">Javascript</a>
      </li>
      <li>
        <a href="">Ruby</a>
      </li>
    
    </ul>
  </nav>
  <div class='masthead-logo'>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  </div>
  

  <div class="masthead-links group">
    <ul>
      <li>
        <%= DateTime.now.to_date %>
      </li>
      <li id="">
        <i class="fa fa-newspaper"></i>
        <button>Today's Paper</button>
      </li>
      <li id="">
        <i class="fa fa-video"></i>
        <span><button>Video</button></span>
      </li>
      <li>
        <a href="">77°F</a>
      </li>
      <li>
        <a href="">AAO +100%</a>
      </li>
    </ul>
  </div>

</div>